body {
    font-family: 'EB Garamond', serif;
    color: #555;
    margin: 0;
}
header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/ggbridge.jpg) bottom no-repeat;
  background-size: cover;
  text-align: right;
  color: #fff;
  height: 40vh;
}

header h1, header h3 {
  margin-bottom: 1rem;
}

header h3 {
  margin-top: 0;
}

#logo {
  float: left;
}

#logo img {
  width: 3rem;
  height: auto;
}

.social-links {
  float: right;
}

.social-links ul{
  margin: 0.25rem;
}

.social-links li {
	display: inline-block;
  margin: 0 0.25rem;
}

.social-links img {
  width: 2rem;
  height: auto;
}

#tagline {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 2rem;
}

.product-info {
    box-sizing: border-box;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding-top: 1.25rem;
    font-size: 1.5rem;
}

.product-desc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}

.product-desc h3 {
  margin-bottom: 0;
}

.product-desc h5 {
  margin-top: 0;
}

.phone-demo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50%;
    margin: auto;
}
.phone-demo img {
    max-width: 100%;
    max-height: 55vh;
    margin: auto;
}

.about {
    top: 30%;
}

.about-header {
  background-image: url('file:///Users/diemvicky/Desktop/incognito/payment-app/images/about-us-logo.jpeg');
  background-position: center;
  text-align: center;
}

.about-header h1 {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.about {
    display: inline;
    list-style-type: none;
}

.article {
  list-style-type: none;
  text-align: center;
  margin: 10%;
}

.team {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  max-width: 18em;
  margin: 0 auto;
}

/*********** Footer ***********/

footer {
  background: #ccc;
	width: 100%;
	height: 3rem;
  text-align: center;
  color: #333;
  font-size: 1rem;
  box-sizing: border-box;
  padding-top: 1rem;
}

footer p {
  margin: 0 auto;
}

/*********** Media queries ***********/

@media
screen and (max-width: 600px),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){
  .product-info {
    padding: 0;
  }
  .phone-demo {
    display: none;
  }
  .product-desc {
    text-align: center;
    margin: auto 0;
    width: 100%;
  }
}
